<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.status.name %></td>
        <td><%= link_to 'Edit', edit_project_path(project), class: 'edit-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
